################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net/.vs
/net/*/bin
/net/*/obj
